button, input {
  width: 200px;
  padding: 10px;
  text-align: center;
  margin: 10px auto;
}

.error-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
  z-index: 1000;
}

.error-message {
  background-color: "#ffcccc";
  color: #d8000c;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
  width: fit-content;
  max-width: 90%;
  text-align: center;
}